<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.PageRules" description="Page Rules Items" extends="Helix.Foundation">
          <predicate>
            <include database="core" name="Ribbon Button" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Page Editor/Page Rules" />
            <include database="master" name="Status Codes Definitions" path="/sitecore/system/Settings/Rules/Definitions/HTTP Status Codes" />
            <include database="master" name="Page Rules Definitions" path="/sitecore/system/Settings/Rules/Definitions/Elements/Page Rules" />
            <include database="master" name="Page Rules Tags" path="/sitecore/system/Settings/Rules/Definitions/Tags/Page Rules" />
            <include database="master" name="Status Codes Insert Options" path="/sitecore/system/Settings/Rules/Insert Options/Rules/HTTP Status Codes" />
            <include database="master" name="Page Rules Settings" path="/sitecore/system/Settings/Rules/Page Rules" />
			  <include database="master" name="Page Visited Number Of Times" path="/sitecore/system/Settings/Rules/Definitions/Elements/Visit/Page was visited given number of times" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>